<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>IDEAL BANK</title>

        <!-- CSS FILES -->                
        <link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}">

        <link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin>

        <link href="{% static 'https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap' %}" rel="stylesheet">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'css/templatemo-tiya-golf-club.css' %}" rel="stylesheet">
        
<!--

TemplateMo 587 Tiya Golf Club

https://templatemo.com/tm-587-tiya-golf-club

-->
    </head>
    
    <body>

        <main>

            <nav class="navbar navbar-expand-lg">                
                <div class="container">
                    <a class="navbar-brand d-flex align-items-center" href="{% static 'index.html' %}">
                            <img src="{% static 'images/logo.png' %}" class="navbar-brand-image img-fluid" alt="">
                        <span class="navbar-brand-text">
                            IDEAL BANK
                            <small>We Trust You</small>
                        </span>
                    </a>

                    <div class="d-lg-none ms-auto me-3">
                        <a class="btn custom-btn custom-border-btn" data-bs-toggle="offcanvas" href="" role="button" aria-controls="offcanvasExample"></a>
                    </div>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-auto">
                                                        <ul class="navbar-nav mr-auto">
                              <li class="nav-item active">
                              {% if user.is_authenticated %}
                               </li> <li class="nav-item">
                               <li>Hello {{user.username}}</li>
                                 <li><a class="nav-link" href="credentials/new">NEW</a>
                              </li>
                               <li>
                                <a class="nav-link" href="credentials/logout">LOGOUT</a>
                              </li>
                              {% else %}
                              <li class="nav-item">
                                 <a class="nav-link" href="credentials/register">REGISTER</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="credentials/login">LOGIN</a>
                              </li>
                                  <li class="dropdown">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">BRANCHES</a>

                                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                    <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Malappuram">MALAPPURAM</a></li>
                                    <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Ernakulam#Princely_State_of_Cochin">ERANAKULAM</a></li>
                                     <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kannur">KANNUR</a></li>
                                    <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kozhikode">KOZHIKODE</a></li>
                                     <li><a class="dropdown-item" href=https://en.wikipedia.org/wiki/Palakkad">PALAKKAD</a></li>
                                </ul>
                            </li>
                                                            {% endif %}
                        </ul>
                        </ul>
                    </div>
                </div>
            </nav>


            <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
                <div class="section-overlay"></div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3D405B" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path></svg>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                            <h1 class="cd-headline rotate-1 text-white mb-4 pb-2">
                                <span>IDEAL BANK IS </span>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">Modern</b>
                                    <b>Creative</b>
                                    <b>profitable</b>
                                </span>
                            </h1>
                        </div>
                    </div>

                </div>
            </section>
        </main>
        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery.sticky.js' %}"></script>
        <script src="{% static 'js/click-scroll.js' %}"></script>
        <script src="{% static 'js/animated-headline.js' %}"></script>
        <script src="{% static 'js/modernizr.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
       </body>
</html>