<!DOCTYPE html>
<html>
<head>
    <title>upload details</title>
</head>
</html>
<body style="background-color:powderblue;">
<div class="main">
    <div class="register">
        <h2>PERSONAL DETAILS UPLOAD HERE</h2>
<form id="register" method="post">


   <label>Name:</label>
    <br>
    <input type="text" name="name"  placeholder="Enter your Name" >
    <br><br>
    DOB:<br>
    <select name="month">
        <option value="month">month</option>
        <option value="month">Januvary</option>
        <option value="month">Februvary</option>
        <option value="month">March</option>
        <option value="month">April</option>
        <option value="month">May</option>
        <option value="month">June</option>
        <option value="month">July</option>
        <option value="month">August</option>
        <option value="month">September</option>
        <option value="month">October</option>
        <option value="month">November</option>
        <option value="month">December</option>
    </select>
    <select name="days">
        <option value="days">Days</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
         <option value="1">21</option>
        <option value="2">22</option>
        <option value="3">23</option>
        <option value="4">24</option>
        <option value="5">25</option>
        <option value="6">26</option>
        <option value="7">27</option>
        <option value="8">28</option>
        <option value="9">29</option>
        <option value="10">30</option>
        <option value="31">31</option>
    </select>
    <select name="years">
         <option value="years">Years</option>
        <option value="1980">1980</option>
        <option value="1981">1981</option>
        <option value="1982">1982</option>
        <option value="1983">1983</option>
        <option value="1984">1984</option>
        <option value="1985">1980</option>
        <option value="1986">1981</option>
        <option value="1987">1982</option>
        <option value="1988">1983</option>
        <option value="1989">1984</option>
        <option value="1990">1990</option>
        <option value="1991">1991</option>
        <option value="1991">1992</option>
        <option value="1993">1993</option>
        <option value="1994">1994</option>
    </select>
    <br><br>
        <label>Age:</label>
    <br>
    <input type="number" name="age" placeholder="Your Age">
    <br><br>
     <label>Gender:</label>
    <br>
    &nbsp;&nbsp;&nbsp;
    <input type="radio" name="gender">
    &nbsp;
    <span id="male">male</span>
        &nbsp;&nbsp;&nbsp;&nbsp;
     <input type="radio" name="gender">
    &nbsp;
    <span id="female">female</span>
       <br><br>
    <label>Phone Number:</label>
    <input type="text" name="country code" value="+91" size="1"/>
    <input type="text" name="phone" size="10"/>
    <br><br>
    <label>Email:</label>
    <br>
    <input type="email" name="email" placeholder="enter your valid  email" >
    <br><br>
    Address:<br>
    <textarea cols="60" rows="5" id="address">
    </textarea>
<br><br>
    District:
    <select name="district">
        <option value="kasargod">kasargod</option>
        <option value="kannur">kannur</option>
        <option value="kozhikod">kozhikod</option>
        <option value="malappuram">malappuram</option>
        <option value="wayanad">wayanad</option>
        <option value="palakkad">palakkad</option>
        <option value="thrissur">thrissur</option>
        <option value="eranakulam">eranakulam</option>
        <option value="kollam">kollam</option>
        <option value="idukki">idukki</option>
        <option value="pathanamthitta">pathanamthitta</option>
        <option value="alappuzha">alappuzha</option>
        <option value="thiruvandapuram">thiruvandapuram</option>
        <option value="month">month</option>
    </select>
    <br><br>
<!DOCTYPE html>
<html lang=“en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <label>Select Branch</label>

<select name="parent" id="id_parent" data-child-id="id_child" class="dependent-selects__parent">
    <label>Select Branch</label>
  <option value="">BRANCH</option>
  <option value="one" data-child-options="2|3|4">ERANAKULAM</option>
  <option value="two" data-child-options="5|6|7">MALAPPURAM</option>
   <option value="one" data-child-options="2|3|4">KANNUR</option>
  <option value="two" data-child-options="5|6|7">KOZHIKODE</option>
   <option value="one" data-child-options="2|3|4">PALAKKAD</option>
</select>
<br><br>
    <label>Select Area</label>

<select name="child" id="parent_id" class="dependent-selects__parent">
        <label>select area</label>

  <option value="1">AREA</option>
  <option value="2">KAKKANAD</option>
  <option value="3">MALAPPURAM</option>
  <option value="4">PONNANI</option>
  <option value="5">OTTAPPALAM</option>
  <option value="6">KOCHI</option>
  <option value="7">CHITTUR</option>
</select>
<script defer src="dependent-selects.js"></script>

</html>
</form>
    </div>
</div>
</body>
</html>
<br><br>
     Account Type:
    <select name="account type">
        <option value="kasargod">Savings Account</option>
        <option value="kannur">Current Account</option>
           </select>
        <br><br>
     Materials Provide:
    <form action="/action_page.php">
<input type="checkbox" id="material1" name="material1" value="debit card">
        <label for="material1">Debit card</label>
        <input type="checkbox" id="material2" name="material1" value="credit card">
        <label for="material1">Credit card</label>
        <br><br>
    </form>

<a href="http://localhost:63342/loanproject/templates/msg.html">
<input type="submit" value="submit">
</a>


<a href="http://localhost:63342/loanproject/templates/index.html">
<input type="submit" value="logout">
</a>


</form>
    </div>
</div>
